In [3]:
from datetime import datetime
current_time = datetime.now()

获取当前时间

In [4]:
current_time

datetime.datetime(2018, 10, 4, 16, 13, 34, 876725)

In [5]:
type(current_time)

datetime.datetime

时间格式转str

In [7]:
current_time.strftime('%Y-%m-%d')

'2018-10-04'

In [8]:
s = '2018/10-4'
datetime.strptime(s,'%Y/%m-%d')    #格式要对其

datetime.datetime(2018, 10, 4, 0, 0)

### 时间回溯

In [13]:
from datetime import  timedelta
oldday = current_time - timedelta(days = 10)   #往前回溯10天
newday = current_time + timedelta(days = 10)   #往后回溯10天

In [14]:
current_time - newday

datetime.timedelta(-10)

### 产生10天的日期

In [15]:
for i in range(1,11):
    dt = current_time - timedelta(days = i)
    print(dt.strftime('%Y/%m/%d'))

2018/10/03
2018/10/02
2018/10/01
2018/09/30
2018/09/29
2018/09/28
2018/09/27
2018/09/26
2018/09/25
2018/09/24

### 转换unix time

当前时间的unix time 表示

In [16]:
from time import mktime
mktime(current_time.timetuple())

1538640814.0

unix time 转换为公元时间

In [17]:
datetime.fromtimestamp(1538640814.0)

datetime.datetime(2018, 10, 4, 16, 13, 34)

## 处理真实数据

In [19]:
import pandas
df = pandas.read_excel('house_sample.xlsx')
df.head()

,标题,建筑面积,总价,户型,朝向,物 业 费,环比上月,张贴日期,产权性质,装修,楼层
0,资深经纪上海人：稀缺3房，南北通透采光好，房东急需用钱！,123.50,760,3室2厅0厨2卫,南北,1.5元/平米・月,↑1.44%,西元2017年4月12日,商品房,豪华装修,低层
1,未来规划小上海，精装带地暖，养老，亲子，旅游度假一体化,86.00,76,2室2厅1厨1卫,南北,1.8元/・月,↑4.08%,西元2017年4月13日,商品房,精装修,中层
2,双高铁 不限贷 买一层送一层 送大露台 看房专车接送,90.00,80,3室2厅1厨2卫,南北,暂无资料,↓0.01%,西元2017年4月14日,商品房,精装修,高层
3,坐拥嘉兴海宁双轨 享受市区配套 现房值得拥有 可落户,90.00,80,2室1厅1厨1卫,南北,暂无资料,↓0.01%,西元2017年4月15日,商品房,简装修,中层
4,对口明强校区，精装两房税费少，位置安静，媲美园艺新村，随时看,66.61,285,2室1厅1厨1卫,南,0.8元/平米・月,↓2.62%,西元2017年4月16日,个人产权,中装修,低层

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 29
Data columns (total 11 columns):
标题       29 non-null object
建筑面积     29 non-null float64
总价       29 non-null int64
户型       29 non-null object
朝向       29 non-null object
物 业 费    29 non-null object
环比上月     29 non-null object
张贴日期     29 non-null object
产权性质     29 non-null object
装修       29 non-null object
楼层       29 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.7+ KB

In [24]:
df['张贴日期'] = pandas.to_datetime(df['张贴日期'],format = '西元%Y年%m月%d日')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 29
Data columns (total 11 columns):
标题       29 non-null object
建筑面积     29 non-null float64
总价       29 non-null int64
户型       29 non-null object
朝向       29 non-null object
物 业 费    29 non-null object
环比上月     29 non-null object
张贴日期     29 non-null datetime64[ns]
产权性质     29 non-null object
装修       29 non-null object
楼层       29 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 2.7+ KB