## 使用这个库 导入 股票信息

In [2]:
import pandas_datareader
?pandas_datareader.DataReader

In [4]:
df = pandas_datareader.DataReader('BABA',data_source='yahoo')

In [5]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-09-28,165.660004,163.300003,164.899994,164.759995,10486500,164.759995
2018-10-01,165.949997,161.559998,165.919998,162.000000,10615200,162.000000
2018-10-02,161.028000,158.270004,159.789993,160.229996,14730500,160.229996
2018-10-03,164.539993,161.929993,163.149994,162.369995,13118800,162.369995
2018-10-04,160.080002,153.869995,160.059998,156.130005,32157200,156.130005

## 简易统计

In [6]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [9]:
df['Close'].sum() #求和
df['Close'].mean()  #求平均
df['Close'].std()   #标准差
df['Close'].min()   #最低价
df['Close'].sum()   #最高价
df['Close'].count()  #资料数目

1019

In [10]:
df[['Open','Close']].max()

Open     209.949997
Close    210.860001
dtype: float64

In [11]:
df.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1019.000000,1019.000000,1019.000000,1019.000000,1.019000e+03,1019.000000
mean,119.455965,116.571967,118.132412,118.001452,1.753259e+07,118.001452
std,44.680388,43.642406,44.256838,44.156892,1.328109e+07,44.156892
min,58.650002,57.200001,57.299999,57.389999,3.775300e+06,57.389999
25%,83.445000,81.630001,82.774998,82.485001,1.081255e+07,82.485001
50%,102.550003,100.110001,101.279999,101.360001,1.464520e+07,101.360001
75%,171.320000,166.884995,169.465004,169.125000,2.042970e+07,169.125000
max,211.699997,207.509995,209.949997,210.860001,2.718794e+08,210.860001

In [12]:
df.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2014-09-19  99.699997  89.949997  92.699997  93.889999  271879400  93.889999
2014-09-22  92.949997  89.500000  92.699997  89.889999   66657800  89.889999
2014-09-23  90.480003  86.620003  88.940002  87.169998   39009800  87.169998
2014-09-24  90.570000  87.220001  88.470001  90.570000   32088000  90.570000
2014-09-25  91.500000  88.500000  91.089996  88.919998   28598000  88.919998

In [15]:
df['diff'] = df['Close'] - df['Open']

In [20]:
df['rise'] = df['diff'] > 0   # 涨
df['fall'] = df['diff'] < 0   #跌

In [22]:
df[['rise','fall']].sum()   #统计涨跌次数

rise    470
fall    543
dtype: int64

### 筛选条件

In [26]:
df.index >= '2018-09-01'

array([False, False, False, ...,  True,  True,  True])

In [28]:
df.loc[df.index >= '2018-09-01', ['rise','fall']].sum()

rise     8
fall    15
dtype: int64

### 使用类sql语句

In [32]:
# df.index.year
# df.index.month

In [36]:
df.groupby([df.index.year,df.index.month])['rise','fall' ].sum()
df.groupby([df.index.year,df.index.month])['rise','fall' ].sum().unstack()

      rise                                                        ...   fall  \
Date    1     2     3     4     5     6     7     8     9     10  ...     3
Date                                                              ...
2014   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0  11.0  ...    NaN
2015   7.0   6.0   9.0   5.0   9.0   7.0   7.0   9.0  12.0  17.0  ...   13.0
2016   8.0  11.0  14.0  10.0  12.0  11.0  11.0  15.0  12.0   5.0  ...    8.0
2017   9.0   7.0  13.0  10.0   9.0   9.0  10.0  11.0   9.0  11.0  ...   10.0
2018  11.0   6.0  12.0   9.0  13.0  11.0   7.0   8.0   7.0   1.0  ...    9.0


Date    4     5     6     7     8     9     10    11    12
Date
2014   NaN   NaN   NaN   NaN   NaN   5.0  11.0   9.0  11.0
2015  16.0  11.0  15.0  15.0  11.0   9.0   5.0   9.0  12.0
2016  11.0   9.0  11.0   9.0   8.0   9.0  16.0  13.0  10.0
2017   9.0  13.0  13.0   9.0  12.0  11.0  11.0  14.0   9.0
2018  12.0   9.0  10.0  14.0  15.0  12.0   3.0   NaN   NaN

[5 rows x 24 columns]

### 计算股票盈亏

每天的盈亏

In [40]:
df['ret'] = df['Close'].pct_change(1)  #后一个数据 - 前一个数据

In [41]:
df.head()

,High,Low,Open,Close,Volume,Adj Close,diff,rise,fall,ret
Date,,,,,,,,,,
2014-09-19,99.699997,89.949997,92.699997,93.889999,271879400,93.889999,1.190002,True,False,NaN
2014-09-22,92.949997,89.500000,92.699997,89.889999,66657800,89.889999,-2.809998,False,True,-0.042603
2014-09-23,90.480003,86.620003,88.940002,87.169998,39009800,87.169998,-1.770004,False,True,-0.030259
2014-09-24,90.570000,87.220001,88.470001,90.570000,32088000,90.570000,2.099998,True,False,0.039004
2014-09-25,91.500000,88.500000,91.089996,88.919998,28598000,88.919998,-2.169998,False,True,-0.018218

每个月的盈亏

In [42]:
df.groupby([df.index.year,df.index.month])['ret'].mean()

Date  Date
2014  9      -0.007505
      10      0.004684
      11      0.006855
      12     -0.003032
2015  1      -0.007300
      2      -0.002288
      3      -0.000887
      4      -0.001013
      5       0.004937
      6      -0.003658
      7      -0.002132
      8      -0.007696
      9      -0.005081
      10      0.016434
      11      0.000327
      12     -0.001356
2016  1      -0.009706
      2       0.001661
      3       0.006436
      4      -0.001206
      5       0.003305
      6      -0.001149
      7       0.001888
      8       0.007348
      9       0.004273
      10     -0.001821
      11     -0.003607
      12     -0.003149
2017  1       0.007288
      2       0.000880
      3       0.002091
      4       0.003665
      5       0.002735
      6       0.006849
      7       0.004848
      8       0.004639
      9       0.000427
      10      0.003246
      11     -0.001952
      12     -0.001213
2018  1       0.008322
      2      -0.004554
      3      -0.000307
      4      -0.001120
      5       0.004792
      6      -0.002895
      7       0.000592
      8      -0.002801
      9      -0.002929
      10     -0.013188
Name: ret, dtype: float64